* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
@media (min-width: 400px) {
  html { /* TABLET */
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  html { /* DESKTOP */
    font-size: 21px;
  }
}
html,body{
  height:100%;
  display:flex;
  flex:1;
}
.App {
  display:flex;
  flex:1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
  position: absolute;
  top:0; left:0; right:0; bottom:0;
}
.searchbar{
  display: flex;
  align-items: center;
  height:80px;
  margin-top: 10px;
}
.memes{
  max-height:calc(100% - 90px);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.meme img {
  width:100%;
}
.meme{
  max-width: 100vw;
  margin:16px;
  position: relative;
}
.meme-title{
  background-color: rgba(0,0,0,0.5);
  color:white;
  padding: .2rem .3rem;
  position: absolute;
  bottom:0px;
  width:100%;
  left:0px;
}